.board {
    display: flex;
    height: 50px;
    width: 200px;
    border: 1px solid black;
    padding-left: 40px;
    align-items: center;
    justify-content: space-between;
    margin-right: 15px;
}

.boards {
    display: flex;
    margin: 10px;
}

.dots {
    width: 10px;
    height: 40px;
    align-self: center;
}

.dropdown {
    display: flex;
    flex-direction: column;
    align-self: self-end;
    padding-right: 20px;
}